body {
  color: #ffffff;
  background-size: cover !important;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.img-profile {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
}

.drama-club {
  margin: 20px;
  color: black;
}

img {
  width: 450px;
  height: 600px;
}
